/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/app/Http/Controllers/_temp
/app/Models/_temp
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Http/Controllers/Cal/CalculationController_2022-11-15.php
app/Models/Cal/CalculationModel_2022-11-15.php
app/Http/Controllers/Cal/CalculationController_2022-11-16.php
*.php
app/Models/Cal/CalculationModel_2022-11-16.php
